html,body {
	margin:0;
	padding:0;
	background-image: url("../img/fondo2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-position: center;*/
    background-color: black;
	color:white;
}

#logo{
	border: 2px solid;
	border-radius: 20px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.logotipo{
	width: 70%;
}

#header{
    width: 700px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
}

div#content {
	color: #333;
	text-align: center;
}

div#footer {
	position:absolute;
	width:100%;
	height: 18px;
	bottom:0; /* stick to bottom */
	background: #292f37;
	text-align: center;
	z-index: 0;
}

input, select
{
	padding: 9px 8px 7px;
    text-align: center;
}

input[type="text"]:focus,input[type="password"]:focus
{
	background-color: #D8E7F2;
}

.mensajes
{
	color: white;
    border: 1px solid white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    width: 800px;
    background-color: black;
    margin-top: 20px;
}

.cuadro_men
{
    text-align: center;
    padding: 10px;
    width: 760px;
    background-color: black;
    margin-top: 10px;
    border:2px solid white;
}

#div1 {
     height:240px;
     width:760px;
     margin:0 auto;
     overflow-x: hidden;
}

#div2 {
     height:240px;
     width:760px;
     margin:0 auto;
     overflow-x: hidden;
}

.mensajes2
{
	padding:10px;
	position:relative;
	margin:0 auto;
	width:600px;
	height: 300px;	
	margin-top:20px;
	border: none;
	color: none;
	overflow-y: auto;
}

.mensa
{
	color: #151866;
	padding:5px;
	width: 200px;
}

.mensa:hover
{

}

.enviados, .recibidos
{
	color: white;
	font-weight: bold;
	text-shadow: 0 0 0.2em purple;
}

tr
{
	height: 30px;
}

td{
	width: 20%;
}

h1 
{
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
}

.cambio
{
	border-radius:20px;
	padding:10px;
	position:relative;
	margin:0 auto;
	background:#3a4652 url("../imagenes/metal.jpg") repeat;
	margin-top:20px;
}


.cambiar
{
	color: #ADD5F7;
	padding: 5px;
	border: 1px solid white;
	border-radius:20px;
	margin: 10px;
}
.cambiar:hover
{
	background-color: white;
	color: #16193B;
	padding: 5px;
	border: 1px solid white;
	border-radius:20px;
	margin: 10px;
	border-color: rgba(82, 168, 236, 0.8);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.cambiar2
{
	background-color: white;
	color: #16193B;
	padding: 5px;
	border: 1px solid white;
	border-radius:20px;
	margin: 10px;
	border-color: rgba(82, 168, 236, 0.8);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

a:hover{text-decoration:none;}


a{text-decoration:none;}


.copy {
	font: 10px Arial, Helvetica, sans-serif;
	color: #FFF;
	margin: 2px;
}

#act_grupos{

}

.cuadro{
	width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
}

.icon{
	width: 100%;
}

.ico_men{
	width: 20px;
}

.ico_men:hover{
	width: 20px;
	box-shadow: 0px 0px 40px grey;
}

#menu_inicio{
	border: 2px solid white;
    width: 400px;
    margin: auto;
    border-radius: 20px;
}

.cuadro_lect{
	resize: none;
    font-weight: bold;
    width: 700px;
    height: 200px;
}

.centrado{
	text-align: center;
}

